body {
    background-color: grey;
    opacity: 2.5;
}
.head{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: blueviolet;*/
    height: 70px;
    max-width: 99%;
    font-style: italic;
    text-transform: capitalize;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
}
button { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center the text horizontally */
    line-height: 35px; /* Center the text vertically */
    text-transform: capitalize;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    min-width: 110px;
    min-height: 35px;
    color: red;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    color: whitesmoke;
    background-color: green;
}
button:focus {
    color: grey;
}
.box {
    height: 100%;
    width: 100%;
}
.img {
    position: absolute;
    right: 0;
    left: 0;
    top: 16.9%;
    height: 100%;
    width: 100%;
    background-image: url(change1.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: changeBackground 20s infinite alternate;
    transition: background-image 1s ease-in-out; /* Added transition */
}

@keyframes changeBackground {
    0% {
        background-image: url(change2.jpg);
    }
    20% {
        background-image: url(change3.jpg);
    }
    40% {
        background-image: url(change4.jpg);
    }
    60% {
        background-image: url(change5.jpg);
    }
    80% {
        background-image: url(change6.jpg);
    }
    100% {
        background-image: url(change7.jpg);
    }
}
.faq {
    position: fixed;
    bottom: 0;
    height: 0%;
    width: 100%;
    background-color: black;
    color: white;
    transition: height 2s;
}
.question {
    font-size: 20px;
    border: 3px solid white;
    margin-bottom: 25px;
    min-height: 3%;
    width: 70%;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    margin-left: 15%;
}
.answer {
    font-family: sans-serif;
    overflow: hidden;
    font-size: 15px;
    text-align: left;
    color: white;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.answer.show {
    max-height: 100%;
    opacity: 1.8;
}
.question:hover {
    cursor: pointer;
}
.question:focus {
    opacity: 0.8;
}
.faq .close {
    height: 25px;
    width: 20px;
    position: relative;
    top: 15px;
    left: 10px;
}
.faq img.close:hover {
    opacity: 0.8;
    cursor: pointer;
}
@media (max-width:375px) {
    body {
        font-size: smaller;
    }
    button {
        font-size: 17px; /* Center the text horizontally */
        line-height: 27px;
        padding: 7px 14px;
        min-width: 95px;
        min-height: 27px;
        color: red;
        background-color: black;
        border-radius: 10px;
    }
}